venv/
__pycache__/

nginx/conf/*
!nginx.conf
!nginx_dev.conf
nginx/contrib
nginx/docs
nginx/html
nginx/logs
nginx/temp
nginx.exe

django_backend/files/
django_backend/static/

.env

data/db

passwords.txt